@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header {
  width: 100%;
  height: 974px;
}
.header_top {
  width: 100%;
  height: 60px;
  background-color: gray;
}
.header_sub {
  margin: 0 auto;
  width: 1500px;
  height: 60px;
}
.header_notice {
  width: 200px;
  height: 60px;
  float: left;
}
.header_notice ul {
  margin-left: 20px;
  margin-top: 20px;
}
.header_notice li {
  margin-right: 20px;
  float: left;
}
.header_notice a {
  color: white;
}

.header_login {
  width: 385px;
  height: 60px;
  float: right;
}

.header_login ul {
  margin-top: 20px;
}
.header_login li {
  margin-right: 30px;
  float: left;
}
.header_login a {
  color: white;
}

.header_center {
  margin: 0 auto;
  width: 1500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 370px;
  height: 50px;
}
.header_logo img {
  margin-top: 10px;
}
.search {
  display: flex;
  margin-right: 10px;
  width: 350px;
  height: 50px;
  align-items: center;
}
.search2 {
  margin-top: 10px;
  width: 300px;
  height: 40px;
}
.search > img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

#header_nav {
  margin: 0 auto;
  width: 1500px;
  height: 80px;
  display: flex;
  align-items: center;
}
#header_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}
#header_nav a {
  font-family: "GmarketSansMedium";
  font-size: 17px;
  color: black;
  font-weight: bold;
}

#header_nav li:nth-child(1) {
  font-weight: bold;
}
#header_nav li:nth-child(2) {
  font-weight: bold;
}

.mainimg {
  overflow: hidden;
  width: 1920px;
  height: 784px;
  position: absolute;
}
.mainimg p {
  margin-top: -550px;
  margin-left: 350px;
  width: 200px;
  height: 50px;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 30px;
}
.mainimg button {
  margin-top: 20px;
  margin-left: 400px;
  width: 200px;
  height: 50px;
  color: black;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
.mainimg .btn {
  position: relative;
  bottom: 30px;
  left: 48%;
  top: 30%;
  margin-left: -32.5px;
}
.mainimg .btn li {
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.mainimg .btn a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background-color: aqua;
}
.tri_left {
  margin-top: -100px;
  margin-left: 200px;
  position: relative;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 30px solid white;
  border-bottom: 15px solid transparent;
}
.tri_right {
  margin-top: -30px;
  margin-left: 1600px;
  position: relative;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 30px solid white;
  border-bottom: 15px solid transparent;
}

#contents {
  width: 1500px;
  height: 2340px;
}
.best {
  width: 100%;
  height: 570px;
}
.best_title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.best_title p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.best_main {
  width: 100%;
  height: 490px;
}
.best_main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best_main li {
  font-family: "GmarketSansMedium";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 490px;
}
.best_main li h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.best_main .sale {
  margin-bottom: 10px;
  text-decoration: line-through;
  color: red;
}
.best_main li p {
  margin-bottom: 10px;
  color: black;
}
.best_main li span {
  margin-bottom: 10px;
  font-weight: bold;
}
.ranking {
  width: 100%;
  height: 570px;
}
.ranking_title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.ranking_title p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.ranking_main {
  width: 100%;
  height: 490px;
}
.ranking_main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranking_main li {
  font-family: "GmarketSansMedium";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 490px;
}
.ranking_main li h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.ranking_main .sale {
  margin-bottom: 10px;
  text-decoration: line-through;
  color: red;
}
.ranking_main li p {
  margin-bottom: 10px;
  color: black;
}
.ranking_main li span {
  margin-bottom: 10px;
  font-weight: bold;
}

.top {
  width: 1500px;
  height: 570px;
}
.top_title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.top_title p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.top_main {
  width: 100%;
  height: 490px;
  float: left;
}
.top_main ul {
  float: left;
}
.top_main ul img {
  float: left;
}

.top_main li:nth-child(1) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main li:nth-child(2) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main li:nth-child(3) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main h4 {
  margin-top: 20px;
}
.bag_title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top_main .sale {
  margin-top: 20px;
  font-weight: bold;
}
.top_main button {
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.daily {
  width: 100%;
  height: 630px;
}
.backpack_title {
  font-size: 20px;
  font-weight: bold;
}

.daily ul {
  display: flex;
  justify-content: space-between;
}
.daily li {
  width: 475px;
  height: 630px;
}
.daily li p {
  font-size: 13px;
  font-family: "GmarketSansMedium";
}

.banner {
  width: 100%;
  height: 200px;
}
#contents2 {
  width: 1500px;
  height: 1200px;
}

.sub_best {
  width: 100%;
  height: 600px;
}

.best2_title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best2_title1 {
  width: 450px;
  font-weight: bold;
  font-size: 20px;
}
.best2_title2 {
  width: 1000px;
}
.best2_title2 button {
  font-weight: bold;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-right: 20px;
}

.best2_title3 {
  width: 125px;
}
.tri_left2 {
  position: relative;
  margin-top: 80px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
}
.tri_right2 {
  position: relative;
  margin-left: 30px;
  margin-top: -20px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 20px solid black;
  border-bottom: 10px solid transparent;
}
.sub_bestmain {
  width: 100%;
  height: 500px;
}
.sub_bestmainimg {
  float: left;
  width: 450px;
  height: 500px;
}

.sub_bestmain2 {
  float: left;
  width: 1000px;
  height: 500px;
}
.sub_bestmain2 ul {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_bestmain2 li {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub_bestmainp1 {
  font-family: "GmarketSansMedium";
}
.sub_bestmainp2 {
  color: red;
  font-family: "GmarketSansMedium";
}
.sub_bestmainp3 {
  text-decoration: line-through;
  font-family: "GmarketSansMedium";
}

.sub_bestmain2 li span {
  font-family: "GmarketSansMedium";
}

.sub_ranking {
  width: 100%;
  height: 600px;
}

.ranking2_title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranking2_title1 {
  width: 450px;
  font-weight: bold;
  font-size: 20px;
}
.ranking2_title2 {
  width: 1000px;
}
.ranking2_title2 button {
  font-weight: bold;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-right: 20px;
}

.ranking2_title3 {
  width: 125px;
}
.tri_left3 {
  position: relative;
  margin-top: 80px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
}
.tri_right3 {
  position: relative;
  margin-left: 30px;
  margin-top: -20px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 20px solid black;
  border-bottom: 10px solid transparent;
}
.sub_rankingmain {
  width: 100%;
  height: 500px;
}
.sub_rankingmainimg {
  float: left;
  width: 450px;
  height: 500px;
}

.sub_rankingmain2 {
  float: left;
  width: 1000px;
  height: 500px;
}
.sub_rankingmain2 ul {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_rankingmain2 li {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub_rankingmainp1 {
  font-family: "GmarketSansMedium";
}
.sub_rankingmainp2 {
  color: red;
  font-family: "GmarketSansMedium";
}
.sub_rankingmainp3 {
  text-decoration: line-through;
  font-family: "GmarketSansMedium";
}

.sub_rankingmain2 li span {
  font-family: "GmarketSansMedium";
}

#footer {
  width: 1500px;
  height: 300px;
  background-color: lightgray;
}
.footer_logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 300px;
}
.footer_notice {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}
.footer_help {
  float: left;
  margin-left: 200px;
}
.facebook {
  margin-right: 50px;
  float: right;
  width: 50px;
  height: 200px;
}

.sns_icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sns_icon li {
  width: 60px;
  height: 60px;
}
