@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
/* <!---------------------헤더---------------------> */
#header {
  width: 100%;
  height: 974px;
}
.header_top {
  width: 100%;
  height: 60px;
  background-color: gray;
}
.header_sub {
  margin: 0 auto;
  width: 1500px;
  height: 60px;
}
.header_notice {
  width: 200px;
  height: 60px;
  float: left;
}
.header_notice ul {
  margin-left: 20px;
  margin-top: 20px;
}
.header_notice li {
  margin-right: 20px;
  float: left;
}
.header_notice a {
  color: white;
}

.header_login {
  width: 385px;
  height: 60px;
  float: right;
}

.header_login ul {
  margin-top: 20px;
}
.header_login li {
  margin-right: 20px;
  float: left;
  border-right: 2px solid#ccc;
}
.header_login a {
  color: white;
  margin-right: 10px;
}
.header_login li:last-child {
  border-right: 0px;
}

.header_center {
  margin: 0 auto;
  width: 1500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 370px;
  height: 50px;
}
.header_logo img {
  margin-top: 10px;
}

.search {
  display: flex;
  margin-right: 10px;
  width: 350px;
  height: 50px;
  align-items: center;
}
.search2 {
  margin-top: 10px;
  width: 300px;
  height: 40px;
}
.search > img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.main_login {
  display: none;
  position: absolute;
  top: 100px;
  left: 60%;
  z-index: 9999;
  width: 580px;
  height: 550px;
  margin: 0 auto;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid#000;
}
.main_login h2 {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.main_login2 {
  width: 100%;
  height: 450px;
  background-color: #fff;
  padding: 60px;
  box-sizing: border-box;
}
.main_login label {
  display: block;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
}
.main_login input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  background-color: #ededed;
  padding: 0 20px;
  box-sizing: border-box;
}

.main_login ul {
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}
.main_login li {
  display: inline-block;
  height: 12px;
  line-height: 12px;
}
.main_login li:last-child {
  border-left: 1px solid #333;
  padding-left: 10px;
  margin-left: 4px;
}
.main_login a {
  color: #333;
  font-size: 12px;
  position: relative;
  top: -2px;
}
.main_login button {
  display: block;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #1673ea;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.login_close {
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 30px;
}

#header_nav {
  margin: 0 auto;
  width: 1500px;
  height: 60px;
}
.header_navv {
  position: relative;
  width: 100%;
  margin-left: 10px;
}
.header_navv > li {
  float: left;
  width: 11%;
  line-height: 60px;
  text-align: center;
  position: relative;
}

.header_navv > li > a {
  font-family: "GmarketSansMedium";
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.header_navv li:nth-child(10) {
  display: none;
}
.header_navv li:nth-child(11) {
  display: none;
}
.header_navv li:nth-child(12) {
  display: none;
}

.subb {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  border: 1px solid#ccc;
  z-index: 400;
}
.subb > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid#ccc;
  display: block;
  background-color: cadetblue;
}
.subb > li > a {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  display: block;
  color: black;
}
.header_navv > li > a.act {
  display: block;
  background-color: lightgray;
  color: black;
}
.subb > li > a.act2 {
  display: block;
  background-color: lightgray;
  color: black;
}
.mainimg {
  overflow: hidden;
  width: 1920px;
  height: 784px;
  position: relative;
}
#view {
  width: 100%;
  height: 784px;
  position: relative;
  overflow: hidden;
}
#view li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 784px;
}
#view li:nth-child(1) {
  left: 0%;
  background: url(../images/66.png) no-repeat 50% 0;
}
#view li:nth-child(2) {
  left: 100%;
  background: url(../images/67.png) no-repeat 50% 0;
}
#view li:nth-child(3) {
  left: 200%;
  background: url(../images/68.png) no-repeat 50% 0;
}

.mainimg p {
  bottom: 30px;
  left: 25%;
  top: 30%;
  width: 200px;
  height: 50px;
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
}
.mainimg button {
  left: 28%;
  top: 38%;
  width: 200px;
  height: 50px;
  color: black;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
}
.mainimg .btn {
  position: absolute;
  left: 50%;
  top: 75%;
  margin-left: -32.5px;
}
.mainimg .btn li {
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.mainimg .btn a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background-color: white;
}
.mainimg .btn li.on a {
  background-color: aqua;
}
.tri_left {
  left: 15%;
  top: 40%;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-right: 30px solid aqua;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}
.tri_right {
  left: 80%;
  top: 40%;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-left: 30px solid aqua;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}
.sero {
  background-color: lightyellow;
  border-radius: 15px;
  top: 150px;
  right: 5px;
  position: absolute;
  z-index: 9999;
  margin: 50px;
  width: 150px;
}
.sero > li {
  width: 150px;
  margin-bottom: 2px;
}
.sero_btn {
  font-family: "GmarketSansMedium";
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.sero_btn.ok {
  background-color: yellow;
}
.sero_btn.ok1 {
  background-color: lightgreen;
}

.sero_sub {
  width: 100%;
}
.sero_sub li {
  width: 100%;
  height: 40px;
  margin-bottom: 1px;
}
.sero_sub li a {
  font-family: "GmarketSansMedium";
  display: block;
  width: 100%;
  height: 40px;
  background-color: lightgray;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}
.sero_sub li a.actt {
  background-color: lightblue;
}

/* <!---------------------컨텐츠1---------------------> */
#contents {
  width: 1500px;
  height: 2340px;
}
.best {
  width: 100%;
  height: 570px;
}
.best_title {
  font-family: "GmarketSansMedium";
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.best_title p {
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.best_nav {
  margin-left: 50px;
  width: 400px;
  height: 80px;
}
.best_nav ul {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}
.best_nav li:nth-child(1) {
  font-weight: bold;
}

.best_nav ul a {
  color: black;
}

.best_main {
  width: 100%;
  height: 490px;
}
.best_main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best_main li {
  font-family: "GmarketSansMedium";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 490px;
}
.best_main li h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.best_main .sale {
  margin-bottom: 10px;
  text-decoration: line-through;
  color: red;
}
.best_main li p {
  margin-bottom: 10px;
  color: black;
}
.best_main li span {
  margin-bottom: 10px;
  font-weight: bold;
}
.ranking {
  width: 100%;
  height: 570px;
}
.ranking_title {
  font-family: "GmarketSansMedium";
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.ranking_title p {
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.ranking_nav {
  margin-left: 50px;
  width: 400px;
  height: 80px;
}
.ranking_nav ul {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}
.ranking_nav li:nth-child(1) {
  font-weight: bold;
}

.ranking_nav ul a {
  color: black;
}

.ranking_main {
  width: 100%;
  height: 490px;
}
.ranking_main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranking_main li {
  font-family: "GmarketSansMedium";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 490px;
}
.ranking_main li h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.ranking_main .sale {
  margin-bottom: 10px;
  text-decoration: line-through;
  color: red;
}
.ranking_main li p {
  margin-bottom: 10px;
  color: black;
}
.ranking_main li span {
  margin-bottom: 10px;
  font-weight: bold;
}

.top {
  width: 1500px;
  height: 600px;
}
.top_title {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
.top_title p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.top_main {
  width: 100%;
  height: 490px;
  float: left;
}
.top_main ul {
  float: left;
}
.top_main ul img {
  float: left;
}

.top_main li:nth-child(1) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main li:nth-child(2) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main li:nth-child(3) {
  font-family: "GmarketSansMedium";
  float: left;
  width: 500px;
  height: 490px;
}
.top_main h4 {
  margin-top: 20px;
}
.bag_title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top_main .sale {
  margin-top: 20px;
  font-weight: bold;
}
.top_main button {
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.daily {
  width: 100%;
  height: 630px;
}
.backpack_title {
  font-size: 20px;
  font-weight: bold;
}

.daily ul {
  display: flex;
  justify-content: space-between;
}
.daily li {
  width: 475px;
  height: 630px;
}
.daily li p {
  font-size: 13px;
  font-family: "GmarketSansMedium";
}

.banner {
  width: 100%;
  height: 200px;
  background: url(../images/마스크\ 그룹\ 69.png) no-repeat 50% 50%;
  background-size: 1920px;
}

/* <!---------------------컨텐츠2---------------------> */

#contents2 {
  width: 1500px;
  height: 1200px;
}

.sub_best {
  width: 100%;
  height: 600px;
  position: relative;
}

.best2_title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best2_title1 {
  width: 450px;
  font-weight: bold;
  font-size: 20px;
}
.best2_title2 {
  width: 1000px;
}
.best2_title2 button {
  font-weight: bold;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.best2_title3 {
  width: 125px;
}
.tri_left2 {
  position: relative;
  margin-top: 80px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
.tri_right2 {
  cursor: pointer;
  position: relative;
  margin-left: 30px;
  margin-top: -20px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 20px solid black;
  border-bottom: 10px solid transparent;
}
.sub_bestmain {
  width: 100%;
  height: 500px;
}
.sub_bestmainimg {
  float: left;
  width: 450px;
  height: 500px;
}

.sub_bestmain2 {
  float: left;
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.sub_bestmain2 .slide2 {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub_bestmain2 .slide2 img {
  width: 230px;
  height: 230px;
}
.list2 li {
  position: absolute;
  width: 100%;
  height: 500px;
}
.sub_bestmain2 .list4 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list2 li:nth-child(1) {
  left: 0%;
}
.list2 li:nth-child(2) {
  left: 100%;
}
.list2 li:nth-child(3) {
  left: 200%;
}
.best2_title2 button.onn {
  background-color: lightblue;
}
.sub_bestmainp1 {
  font-family: "GmarketSansMedium";
}
.sub_bestmainp2 {
  color: red;
  font-family: "GmarketSansMedium";
}
.sub_bestmainp3 {
  text-decoration: line-through;
  font-family: "GmarketSansMedium";
}

.sub_bestmain2 li span {
  font-family: "GmarketSansMedium";
}

.sub_ranking {
  width: 100%;
  height: 600px;
  position: relative;
}

.ranking2_title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ranking2_title1 {
  width: 450px;
  font-weight: bold;
  font-size: 20px;
}
.ranking2_title2 {
  width: 1000px;
}
.ranking2_title2 button {
  font-weight: bold;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.ranking2_title3 {
  width: 125px;
}
.tri_left3 {
  position: relative;
  margin-top: 80px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 20px solid black;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
.tri_right3 {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  margin-top: -20px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 20px solid black;
  border-bottom: 10px solid transparent;
}
.sub_rankingmain {
  width: 100%;
  height: 500px;
}
.sub_rankingmainimg {
  float: left;
  width: 450px;
  height: 500px;
}

.sub_rankingmain2 {
  float: left;
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.sub_rankingmain2 .slide3 {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sub_rankingmain2 .slide3 img {
  width: 230px;
  height: 230px;
}

.list5 li {
  position: absolute;
  width: 100%;
  height: 500px;
}

.sub_rankingmain2 .list6 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list5 li:nth-child(1) {
  left: 0%;
}
.list5 li:nth-child(2) {
  left: 100%;
}
.list5 li:nth-child(3) {
  left: 200%;
}

.ranking2_title2 button.no {
  background-color: lightblue;
}

.sub_rankingmainp1 {
  font-family: "GmarketSansMedium";
}
.sub_rankingmainp2 {
  color: red;
  font-family: "GmarketSansMedium";
}
.sub_rankingmainp3 {
  text-decoration: line-through;
  font-family: "GmarketSansMedium";
}

.sub_rankingmain2 li span {
  font-family: "GmarketSansMedium";
}
/* <!---------------------하단---------------------> */
#footer {
  width: 1500px;
  height: 300px;
  background-color: lightgray;
}
.footer_logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 300px;
}
.footer_notice {
  float: left;
  width: 800px;
  height: 300px;
}
.footer_notice_sub {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer_notice_sub2 {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 15px;
}

.footer_notice_sub3 {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 15px;
}

.footer_help {
  float: left;
  width: 600px;
  height: 300px;
}

.footer_help_sub {
  font-size: 18px;
  font-weight: bold;
}
.footer_help_sub2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.group_m {
  display: none;
}
.group_title {
  display: none;
}
