@media screen and (max-width: 480px) {
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  #wrap {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* <!---------------------헤더---------------------> */
  #header {
    width: 100%;
    height: 950px;
  }
  .header_top {
    display: none;
    width: 100%;
    height: 60px;
    background-color: gray;
  }
  .header_sub {
    display: none;
    margin: 0 auto;
    width: 480px;
    height: 60px;
  }
  .header_notice {
    display: none;
    width: 200px;
    height: 60px;
    float: left;
  }
  .header_notice ul {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
  }
  .header_notice li {
    display: none;
    margin-right: 20px;
    float: left;
  }
  .header_notice a {
    display: none;
    color: white;
  }

  .header_login {
    display: none;
    width: 385px;
    height: 60px;
    float: right;
  }

  .header_login ul {
    display: none;
    margin-top: 20px;
  }
  .header_login li {
    display: none;
    margin-right: 30px;
    float: left;
  }
  .header_login a {
    display: none;
    color: white;
  }

  .header_center {
    width: 480px;
    height: 50px;
  }
  .header_logo {
    float: left;
    width: 370px;
    height: 50px;
  }
  .header_logo img {
    width: 280px;
    height: auto;
  }

  .group_m {
    margin-left: 110px;
    display: block;
    width: 50px;
    height: 50px;
  }
  .btn_m {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 50px;
    height: 30px;
  }
  .btn_m span {
    display: block;
    width: 100%;
    height: 5px;
    margin-bottom: 8px;
    background-color: black;
    border-radius: 4px;
  }
  .group_title {
    text-align: center;
    display: none;
    position: absolute;
    top: 70px;
    left: 350px;
    z-index: 9999;
    width: 120px;
    height: 250px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid#000;
  }
  .group_title > p {
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightgray;
  }
  .group_line {
    width: 90%;
    border: 1px solid#ccc;
  }

  .group_close {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    margin-top: 0px;
    height: 50px;
    float: right;
    background-color: antiquewhite;
  }
  .search {
    display: none;
    display: flex;
    margin-right: 20px;
    width: 350px;
    height: 50px;
    align-items: center;
  }
  .search2 {
    display: none;
    margin-top: 10px;
    width: 300px;
    height: 40px;
  }
  .search > img {
    display: none;
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }

  #header_nav {
    width: 480px;
    height: 80px;
  }
  .header_navv {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header_navv li {
    width: 80px;
  }
  .header_navv li:nth-child(3) {
    display: none;
  }
  .header_navv li:nth-child(4) {
    display: none;
  }
  .header_navv li:nth-child(5) {
    display: none;
  }
  .header_navv li:nth-child(6) {
    display: none;
  }
  .header_navv li:nth-child(7) {
    display: none;
  }
  .header_navv li:nth-child(8) {
    display: none;
  }
  .header_navv li:nth-child(9) {
    display: none;
  }
  .header_navv li:nth-child(10) {
    display: flex;
    margin-left: 20px;
  }

  .header_navv li:nth-child(11) {
    display: flex;
  }
  .header_navv li:nth-child(12) {
    display: flex;
  }

  .header_navv a {
    font-family: "GmarketSansMedium";
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .header_navv li:nth-child(1) {
    font-weight: bold;
  }
  .header_navv li:nth-child(2) {
    font-weight: bold;
  }
  .subb {
    display: none;
  }

  .mainimg {
    overflow: hidden;
    width: 480px;
    height: 784px;
    position: relative;
  }
  #view {
    width: 100%;
    height: 784px;
    position: relative;
    overflow: hidden;
  }
  #view li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 784px;
  }
  #view li:nth-child(1) {
    left: 0%;
    background: url(../images/66.png) no-repeat 50% 0%;
  }
  #view li:nth-child(2) {
    left: 100%;
    background: url(../images/67.png) no-repeat 70% 0%;
  }
  #view li:nth-child(3) {
    left: 200%;
    background: url(../images/68.png) no-repeat 70% 0%;
  }

  .mainimg p {
    bottom: 30px;
    left: 25%;
    top: 30%;
    width: 200px;
    height: 50px;
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
  }
  .mainimg button {
    left: 28%;
    top: 38%;
    width: 200px;
    height: 50px;
    color: black;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
  }
  .mainimg .btn {
    position: absolute;
    left: 48%;
    top: 75%;
    margin-left: -32.5px;
  }
  .mainimg .btn li {
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    overflow: hidden;
  }
  .mainimg .btn a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-color: white;
  }
  .mainimg .btn li.on a {
    background-color: aqua;
  }
  .tri_left {
    left: 15%;
    top: 40%;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-right: 30px solid aqua;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  .tri_right {
    left: 80%;
    top: 40%;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-left: 30px solid aqua;
    border-bottom: 15px solid transparent;
    cursor: pointer;
  }
  .sero {
    display: none;
  }
  /* <!---------------------컨텐츠---------------------> */

  #contents {
    width: 480px;
    height: 4350px;
  }
  .best {
    width: 100%;
    height: 880px;
  }
  .best_title {
    margin-left: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .best_title p {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .best_main {
    width: 100%;
    height: 800px;
  }
  .best_main ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .best_main li {
    font-family: "GmarketSansMedium";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 400px;
  }
  .best_main li:nth-child(5) {
    display: none;
  }

  .best_main li h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
  .best_main .sale {
    margin-bottom: 10px;
    text-decoration: line-through;
    color: red;
  }
  .best_main li p {
    margin-bottom: 10px;
    color: black;
  }

  .best_main li span {
    font-weight: bold;
  }
  .ranking {
    width: 100%;
    height: 900px;
  }
  .ranking_title {
    margin-left: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .ranking_title p {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .ranking_main {
    width: 100%;
    height: 800px;
  }
  .ranking_main ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ranking_main li {
    font-family: "GmarketSansMedium";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 400px;
  }
  .ranking_main li:nth-child(5) {
    display: none;
  }
  .ranking_main li h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
  .ranking_main .sale {
    margin-bottom: 10px;
    text-decoration: line-through;
    color: red;
  }
  .ranking_main li p {
    margin-bottom: 10px;
    color: black;
  }
  .ranking_main li span {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .top {
    width: 480px;
    height: 800px;
  }
  .top_title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .top_title p {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .top_main {
    width: 100%;
    height: 800px;
    float: left;
  }
  .top_main ul {
    float: left;
  }
  .top_main ul img {
    width: 250px;
  }

  .top_main li:nth-child(1) {
    font-family: "GmarketSansMedium";
    float: left;
    width: 480px;
    height: 360px;
    font-size: 13px;
  }
  .top_main li:nth-child(2) {
    font-family: "GmarketSansMedium";
    float: left;
    width: 480px;
    height: 360px;
    font-size: 13px;
  }
  .top_main li:nth-child(3) {
    display: none;
    font-family: "GmarketSansMedium";
    float: left;
    width: 320px;
    height: 360px;
    font-size: 10px;
  }

  .top_main h4 {
    margin-top: 20px;
  }
  .bag_title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .top_main .sale {
    margin-top: 20px;
    font-weight: bold;
  }
  .top_main button {
    font-weight: bold;
    width: 100px;
    height: 50px;
  }

  .daily {
    width: 480px;
    height: 1700px;
  }
  .backpack_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .daily ul {
    width: 480px;
    height: 1700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .daily li {
    margin-right: 10px;
    width: 480px;
    height: 450px;
  }
  .daily img {
    width: 480px;
    height: auto;
  }
  .daily li p {
    font-size: 13px;
    font-family: "GmarketSansMedium";
  }

  .banner {
    width: 480px;
    height: 100px;
    background: url(../images/마스크\ 그룹\ 69.png) no-repeat 50% 50%;
    background-size: 480px;
  }
  /* <!---------------------컨텐츠2---------------------> */
  #contents2 {
    width: 480px;
    height: 950px;
  }

  .sub_best {
    width: 100%;
    height: 450px;
  }

  .best2_title {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .best2_title1 {
    text-align: center;
    width: 480px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .best2_title2 {
    width: 480px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .best2_title2 button {
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 15px;
  }

  .best2_title3 {
    display: none;
    width: 100px;
    height: 10px;
  }
  .tri_left2 {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 20px solid black;
    border-bottom: 10px solid transparent;
  }
  .tri_right2 {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
  }
  .sub_bestmain {
    width: 480px;
    height: 350px;
  }
  .sub_bestmainimg {
    display: none;
    margin-left: 10px;
    float: left;
    width: 250px;
    height: 330px;
  }
  .sub_bestmainimg img {
    display: none;
    float: left;
    width: 250px;
    height: auto;
  }

  .sub_bestmain2 {
    margin-top: 20px;
    width: 480px;
    height: 350px;
    position: relative;
    overflow: hidden;
  }
  .sub_bestmain2 .slide2 {
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .sub_bestmain2 .slide2 img {
    width: 130px;
    height: auto;
  }
  .list2 li {
    position: absolute;
    width: 100%;
    height: 300px;
  }
  .list4 div:nth-child(3) {
    display: none;
  }

  .sub_bestmain2 .list4 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list2 li:nth-child(1) {
    left: 0%;
  }
  .list2 li:nth-child(2) {
    left: 100%;
  }
  .list2 li:nth-child(3) {
    left: 200%;
  }

  .best2_title2 button.onn {
    background-color: lightblue;
  }

  .sub_bestmainp1 {
    width: 200px;
    text-align: center;
    font-family: "GmarketSansMedium";
    text-align: center;
  }
  .sub_bestmainp2 {
    color: red;
    font-family: "GmarketSansMedium";
  }
  .sub_bestmainp3 {
    text-decoration: line-through;
    font-family: "GmarketSansMedium";
  }

  .sub_bestmain2 li span {
    font-family: "GmarketSansMedium";
  }

  .sub_ranking {
    width: 100%;
    height: 450px;
  }

  .ranking2_title {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .ranking2_title1 {
    text-align: center;
    width: 480px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .ranking2_title2 {
    width: 480px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ranking2_title2 button {
    font-weight: bold;
    width: 120px;
    height: 40px;
    border-radius: 15px;
  }

  .ranking2_title3 {
    display: none;
    width: 100px;
    height: 10px;
  }
  .tri_left3 {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 20px solid black;
    border-bottom: 10px solid transparent;
  }
  .tri_right3 {
    position: relative;

    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 20px solid black;
    border-bottom: 10px solid transparent;
  }
  .sub_rankingmain {
    margin-top: 20px;
    width: 480px;
    height: 350px;
  }
  .sub_rankingmainimg {
    display: none;
    margin-left: 10px;
    float: left;
    width: 250px;
    height: 330px;
  }
  .sub_rankingmainimg img {
    display: none;
    float: left;
    width: 250px;
    height: auto;
  }

  .sub_rankingmain2 {
    width: 480px;
    height: 350px;
    position: relative;
    overflow: hidden;
  }
  .sub_rankingmain2 .slide3 {
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .sub_rankingmain2 .slide3 img {
    width: 130px;
    height: auto;
  }
  .list5 li {
    position: absolute;
    width: 100%;
    height: 300px;
  }
  .list6 div:nth-child(3) {
    display: none;
  }
  .sub_rankingmain2 .list5 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub_rankingmainp1 {
    width: 200px;
    text-align: center;
    font-family: "GmarketSansMedium";
  }
  .sub_rankingmainp2 {
    color: red;
    font-family: "GmarketSansMedium";
  }
  .sub_rankingmainp3 {
    text-decoration: line-through;
    font-family: "GmarketSansMedium";
  }

  .sub_rankingmain2 li span {
    font-family: "GmarketSansMedium";
  }
  /* <!---------------------하단---------------------> */
  #footer {
    width: 480px;
    height: 630px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
  }
  .footer_logo {
    width: 400px;
  }
  .footer_notice {
    width: 480x;
    height: 240px;
  }
  .footer_notice_sub {
    font-size: 15px;
    font-weight: bold;
  }
  .footer_notice_sub2 {
    width: 370px;

    font-size: 15px;
  }

  .footer_notice_sub3 {
    width: 370px;
    font-size: 15px;
  }

  .footer_help {
    width: 480px;
    height: 220px;
    text-align: center;
  }

  .footer_help_sub {
    font-size: 18px;
    font-weight: bold;
  }
  .footer_help_sub2 {
    font-size: 20px;
    font-weight: bold;
  }
  .facebook {
    width: 200px;
    height: 50px;
  }
  .facebook ul {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
}
